body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #3B444B;
}


#main-container {
    background-color: #D1E485;
    width: 1000px;
    height: 5000px;
    border: solid 5px #B2D234;
}

#back-box {
    background-color: #B2D234;
    height: 250px;
    width: 1000px;
}

#title-container {
    display: flex;
}

#toplogo {
    display: flex;
    justify-content: flex-start;
    height: 190px;
    width: 190px;
    padding: 20px;
}

#both {
    display: flex;
    justify-content: flex-end;
    height: 222px;
    width: 649px;
    padding: 20px;
    padding-left: 110px;
}

#navigation {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 150px;
    width: 1000px;
}

#top-text1 {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
}

#top-text2 {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
}
#top-text3 {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
}

#poster-container {
    display: flex;
    justify-content: space-around;
    height: 611px;
    width: 1000px;
    padding-bottom: 80px;
}

#poster-text {
    /* display: flex;
    justify-content: space-between; */
    background-color: #B2D234;
    height: 611px;
    width: 397px;
}

#logo-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
}

#spread {
    display: flex;
    justify-content: space-around;
    height: 397px;
    /* width: 1000px; */
    padding-left: 50px;
    padding-bottom: 20px;
}

#spread-text {
    background-color: #B2D234;
    height: 397px;
    width: 245px;
    padding-right: 50px;
}

#toc {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#toc-text {
    
}

#showstopper-container {
    height: 310px;
    width: 1000px;
    padding: 20px;
    padding-bottom: 80px;
}

#heart-container {
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
   height: 755px;
    width: 1000px;
}

#heart-text {
    display: flex;
    background-color: #B2D234;
    width: 900px;
    height: 180px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 14pt;
}

